<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ระบบเบิกจ่ายวัสดุสำนักวิชาเทคโนโลยีสารสนเทศ</title>
    <link rel="icon" type="image/x-icon" href="/img/Logo_IT.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

    <!--Sweet alert-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.6.1/sweetalert2.min.css">

    <!--JQ + Bootstrap CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!--Chart CDN-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <!--Sweet alert CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.6.1/sweetalert2.min.js"></script>

    <!--Pagination CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css"
        integrity="sha512-QmxybGIvkSI8+CGxkt5JAcGOKIzHDqBMs/hdemwisj4EeGLMXxCm9h8YgoCwIvndnuN1NdZxT4pdsesLXSaKaA=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"
        integrity="sha512-1zzZ0ynR2KXnFskJ1C2s+7TIEewmkB2y+5o/+ahF7mwNj9n3PnzARpqalvtjSbUETwx6yuxP5AJXZCpnjEJkQw=="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <!-- Custom styles -->
    <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.3/css/sb-admin-2.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {

            //function set array of table
            let suppliesData = [
                { id: "", serial: "102000055", name: "ถ่าน AA ธรรมดา", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "09:10", amount: Math.floor(Math.random() * 100), unit: "ก้อน", types: "วัสดุไฟฟ้าวิทยุ" },
                { id: "", serial: "112000204", name: "หมึกสีเหลือง Designjet 100 (C4838a)", list: "", type: "เพิ่มรายการวัสดุใหม่", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "13:25", amount: Math.floor(Math.random() * 100), unit: "กล่อง", types: "วัสดุคอมพิวเตอร์" },
                { id: "", serial: "112000205", name: "หมึกสีเหลือง Ricoh CL1000N(11CL1000TNYL)", list: "", type: "เพิ่มรายการวัสดุใหม่", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "13:40", amount: Math.floor(Math.random() * 100), unit: "กล่อง", types: "วัสดุคอมพิวเตอร์" },
                { id: "", serial: "112000455", name: "หมึก SAMSUNG CYAN TONER CLP620ND,670ND", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "15:11", amount: Math.floor(Math.random() * 100), unit: "กล่อง", types: "วัสดุคอมพิวเตอร์" },
                { id: "", serial: "112000457", name: "หมึก SAMSUNG YELLOW TONER FOR CLP620ND", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "09:12", amount: Math.floor(Math.random() * 100), unit: "กล่อง", types: "วัสดุคอมพิวเตอร์" },
                { id: "", serial: "112000460", name: "ถุงขยะสีดำขนาด 30*40", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "13:31", amount: Math.floor(Math.random() * 100), unit: "เเพ๊ค", types: "วัสดุงานบ้านงานบ้าน" },
                { id: "", serial: "103000456", name: "ถุงขยะสีดำ ขนาด 36*45", list: "", type: "นำเข้าข้อมูลวัสดุ", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "11:23", amount: "9", unit: "เเพ๊ค", types: "วัสดุงานบ้านงานบ้าน" },
                { id: "", serial: "116000003", name: "เนคไทตราสัญลักษณ์ มฟล.", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "16:41", amount: Math.floor(Math.random() * 100), unit: "ลิน", types: "รวม" },
                { id: "", serial: "102000277", name: "ถ่านขนาด 9V", list: "", type: "เพิ่มรายการวัสดุใหม่", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "17:41", amount: Math.floor(Math.random() * 100), unit: "ก้อน", types: "วัสดุไฟฟ้าวิทยุ" },
                { id: "", serial: "102000869", name: "ถ่าน AAA ALKALINE (1.5 V)", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "12:51", amount: Math.floor(Math.random() * 100), unit: "ก้อน", types: "วัสดุไฟฟ้าวิทยุ" },
                { id: "", serial: "112000148", name: "หมึก Laser jet HP6L", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "11:40", amount: Math.floor(Math.random() * 100), unit: "กล่อง", types: "วัสดุคอมพิวเตอร์" }
            ]

            let suppliesData1 = [
                { serial: "102000055", name: "ถ่าน AA ธรรมดา", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "11:40", amount: Math.floor(Math.random() * 100), unit: "ก้อน", types: "วัสดุไฟฟ้าวิทยุ" },
                { serial: "112000204", name: "หมึกสีเหลือง Designjet 100", list: "", type: "เพิ่มจำนวนวัสดุ", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "12:51", amount: Math.floor(Math.random() * 100), unit: "กล่อง", types: "วัสดุคอมพิวเตอร์" },
                { serial: "112000205", name: "หมึกสีเหลือง Ricoh CL1000N", list: "", type: "เพิ่มจำนวนวัสดุ", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "17:41", amount: Math.floor(Math.random() * 100), unit: "กล่อง", types: "วัสดุคอมพิวเตอร์" },
                { serial: "112000455", name: "หมึก SAMSUNG CYAN TONER CLP620ND,670ND", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "16:41", amount: Math.floor(Math.random() * 100), unit: "กล่อง", types: "วัสดุคอมพิวเตอร์" },
                { serial: "112000457", name: "หมึก SAMSUNG YELLOW TONER FOR CLP620ND", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "13:31", amount: Math.floor(Math.random() * 100), unit: "กล่อง", types: "วัสดุคอมพิวเตอร์" },
                { serial: "112000460", name: "ถุงขยะสีดำขนาด 30*40", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "11:23", amount: Math.floor(Math.random() * 100), unit: "เเพ๊ค", types: "วัสดุงานบ้านงานบ้าน" },
                { serial: "103000456", name: "ถุงขยะสีดำ ขนาด 36*45", list: "", type: "เพิ่มจำนวนวัสดุ", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "09:12", amount: Math.floor(Math.random() * 100), unit: "เเพ๊ค", types: "วัสดุงานบ้านงานบ้าน" },
                { serial: "116000003", name: "เนคไทตราสัญลักษณ์ มฟล.", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "15:11", amount: Math.floor(Math.random() * 100), unit: "รีม", types: "รวม" },
                { serial: "102000277", name: "ถ่านขนาด 9V", list: "", type: "เพิ่มจำนวนวัสดุ", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "10:11", amount: Math.floor(Math.random() * 100), unit: "ก้อน", types: "วัสดุไฟฟ้าวิทยุ" },
                { serial: "102000869", name: "ถ่าน AAA ALKALINE ", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "13:25", amount: Math.floor(Math.random() * 100), unit: "ก้อน", types: "วัสดุไฟฟ้าวิทยุ" },
                { serial: "112000148", name: "หมึก Laser jet HP6L", list: "", type: "แก้ไขข้อมูล", maker: "สยุมพร ไชยชมภู", date: "29/4/2021", time: "09:10", amount: Math.floor(Math.random() * 100), unit: "กล่อง", types: "วัสดุคอมพิวเตอร์" }
            ]


            //function Create Table
            var table = $("#data_table").DataTable({
                data: suppliesData,
                columns: [
                    {
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }, title: "ลำดับ"
                    },
                    { data: "serial", title: "รหัสวัสดุ" },
                    { data: "name", title: "ชื่อวัสดุ" },
                    {
                        data: "list", title: "รายละเอียด", render: function (data, type, row) {
                            return `<a data-toggle="modal" id="btn_more_info" style='cursor: pointer;'><u>ดูเพิ่มเติม</u></a>`
                        }
                    },
                    { data: "type", title: "ประเภทการทำรายการ" },
                    { data: "maker", title: "ผู้ทำรายการ" },
                    { data: "date", title: "วันที่ทำรายการ" }
                ]
            });





            //function selectStatus
            function selectCategory(selectArray, tb) {
                let option = ``;
                for (i in selectArray) {
                    option += `<option>${selectArray[i].Status}</option>`;
                }
                tb.html(tb.html() + option);
            }

            //function Create SelectStatus
            let select_products = $("#SelectStatus");
            select_products.html(select_products);
            //selectCategory(selectArray, select_products);


            //function Create Table in modal
            var table2 = $("#table_modal").DataTable({
                data: suppliesData,
                searching: false,
                paging: false,
                columns: [
                    {
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }, title: "ลำดับ"
                    },
                    { data: "serial", title: "รหัสวัสดุ" },
                    { data: "name", title: "รายการ" },
                    { data: "types", title: "หมวดหมู่" },
                    { data: "amount", title: "จำนวน" },
                    { data: "unit", title: "หน่วยนับ" }

                ]
            });

            $("#data_table tbody").on("click", "#btn_more_info", function () {
                //show modal
                $("#editSupModal").modal("show");
                const currentRow = $(this).parents("tr");
                const data = table.row(currentRow).data();
                rowID = table.row(currentRow).index();

                //Show each user data from row selected
                $("#editDate").html(suppliesData[rowID].date);
                $("#editTime").html(suppliesData[rowID].time);
                $("#editor").html(suppliesData[rowID].maker);
                $("#typeCase").html(suppliesData[rowID].type);

                if (suppliesData[rowID].type == 'แก้ไขข้อมูล') {
                    $('#addCard').hide();
                    $('#firstCard').show();
                    $('#secondCard').show();
                } else if (suppliesData[rowID].type == 'เพิ่มรายการวัสดุใหม่') {
                    $('#addCard').show();
                    $('#firstCard').hide();
                    $('#secondCard').hide();
                } else if (suppliesData[rowID].type == 'นำเข้าข้อมูลวัสดุ') {
                    $('#addCard').hide();
                    $('#firstCard').hide();
                    $('#secondCard').hide();
                }

                //card before edit 
                $("#supserial").html(suppliesData[rowID].serial);
                $("#supamount").html(suppliesData[rowID].amount);
                $("#suptypes").html(suppliesData[rowID].types);
                $("#supunit").html(suppliesData[rowID].unit);
                $("#supname").html(suppliesData[rowID].name);

                //card after edit
                $("#supserialEdit").html(suppliesData1[rowID].serial);
                $("#supamountEdit").html(suppliesData1[rowID].amount);
                $("#suptypesEdit").html(suppliesData1[rowID].types);
                $("#supunitEdit").html(suppliesData1[rowID].unit);
                $("#supnameEdit").html(suppliesData1[rowID].name);

                //card after edit
                $("#supserialAdd").html(suppliesData1[rowID].serial);
                $("#suptypesAdd").html(suppliesData1[rowID].types);
                $("#supunitAdd").html(suppliesData1[rowID].unit);
                $("#supnameAdd").html(suppliesData1[rowID].name);

            });
        });
    </script>

</head>

<body id="page-top">

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Logo -->
                <div>
                    <img class="" src="/img/Logo_IT.png" width="60" height="50" alt="">
                </div>
                <div class="d-flex d-sm-inline-block mr-auto ml-md-3 mw-100">
                    <!-- //ใส่โลโก่ -->
                    <span><strong>ระบบเบิกจ่ายวัสดุสำนักวิชาเทคโนโลยีสารสนเทศ</strong></span>
                    <br>
                    <span><strong>มหาวิทยาลัยแม่ฟ้าหลวง</strong></span>

                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">P'Nim</span>
                            <img class="img-profile rounded-circle" src="/img/manIcon.png">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/views/index.html">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                ออกจากระบบ
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->
        </div>

        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar"
                style="background-color: #064767;">

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->

                <!-- Overview -->
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOverview"
                        aria-expanded="true" aria-controls="collapseOverview">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>ระบบวัสดุ</span>
                    </a>
                    <div id="collapseOverview" class="collapse" aria-labelledby="headingPages"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/views/admin/material_requests.html">รายการคำขอเบิกวัสดุ</a>
                            <a class="collapse-item"
                                href="/views/admin/admin_update_req.html">ดำเนินรายการคำขอเบิกวัสดุ</a>
                            <a class="collapse-item"
                                href="/views/admin/admin_req_history.html">ประวัติการอนุมัติคำขอ</a>
                            <a class="collapse-item" href="/views/admin/all_supplies.html">ข้อมูลวัสดุทั้งหมด</a>
                            <a class="collapse-item"
                                href="/views/admin/edit_info_history.html">ประวัติการทำรายการ<br>ข้อมูลวัสดุ</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Report -->
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseReport"
                        aria-expanded="true" aria-controls="collapseReport">
                        <i class="fas fa-file-alt"></i>
                        <span>รายการวัสดุ</span>
                    </a>
                    <div id="collapseReport" class="collapse" aria-labelledby="headingPages"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/views/admin/static.html">รายงานสถิติการเบิก</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

            </ul>
            <!-- End of Sidebar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h2 class="mt-5">ประวัติการทำรายการข้อมูลวัสดุ</h2>
                <br>
                <!-- End Topic -->

                <!-- table -->
                <div class="card">
                    <div class="card-body" style="background-color:#ffffff;   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                        <table class="table table-bordered" id="data_table" width="100%" cellspacing="0"
                            style="text-align: center;">
                        </table>
                    </div>
                </div>
                <!-- end table -->
            </div>
            <!-- /.container-fluid -->

        </div>


    </div>

    <!-- Modal ของ รายการคำขอเบิกวัสดุ -->
    <div class="modal fade" id="editSupModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ประวัติการทำรายการวัสดุ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <!-- Editor Detail -->
                    <div class="row">

                        <div class="col-md-6 ml-auto">
                            <div class="row">
                                <p class="ml-5"><b>แก้ไขเมื่อวันที่</b></p>
                                <p class="ml-3" id="editDate"></p>
                                <p class="ml-5"><b>เวลา</b></p>
                                <p class="ml-2" id="editTime"></p>
                            </div>
                            <div class="row">
                                <p class="ml-5"><b>ผู้ทำรายการ</b></p>
                                <p class="ml-3" id="editor"></p>
                            </div>
                            <div class="row">
                                <p class="ml-5"><b>ประเภทการทำรายการ</b></p>
                                <p class="ml-3" id="typeCase"></p>
                            </div>
                        </div>

                        <div class="col-md-6"></div>

                    </div>
                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <div class="row">
                        <!-- when edit type is แก้ไขข้อมูล -->
                        <div class="col-md-6 ml-auto" id="firstCard">
                            <p class="ml-4"><b>ข้อมูลก่อนการแก้ไขล่าสุด</b></p>
                            <div class="card ml-4 mb-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                                <div class="card-body">
                                    <div class="row">
                                        <p class="ml-5"><b>รหัสวัสดุ</b></p>
                                        <p class="ml-3" id="supserial"></p>
                                    </div>
                                    <div class="row">
                                        <p class="ml-5"><b>รายการ</b></p>
                                        <p class="ml-3" id="supname"></p>
                                    </div>
                                    <div class="row">
                                        <p class="ml-5"><b>จำนวน</b></p>
                                        <p class="ml-3" id="supamount"></p>
                                    </div>
                                    <div class="row">
                                        <p class="ml-5"><b>หน่วยนับ</b></p>
                                        <p class="ml-3" id="supunit"></p>
                                    </div>
                                    <div class="row">
                                        <p class="ml-5"><b>หมวดหมู่</b></p>
                                        <p class="ml-3" id="suptypes"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="secondCard">
                            <p class="ml-4"><b>ข้อมูลหลังการแก้ไข</b></p>
                            <div class="card ml-4 mb-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                                <div class="card-body">
                                    <div class="row">
                                        <p class="ml-5"><b>รหัสวัสดุ</b></p>
                                        <p class="ml-3" id="supserialEdit"></p>
                                    </div>
                                    <div class="row">
                                        <p class="ml-5"><b>รายการ</b></p>
                                        <p class="ml-3" id="supnameEdit"></p>
                                    </div>
                                    <div class="row">
                                        <p class="ml-5"><b>จำนวน</b></p>
                                        <p class="ml-3" id="supamountEdit"></p>
                                    </div>
                                    <div class="row">
                                        <p class="ml-5"><b>หน่วยนับ</b></p>
                                        <p class="ml-3" id="supunitEdit"></p>
                                    </div>
                                    <div class="row">
                                        <p class="ml-5"><b>หมวดหมู่</b></p>
                                        <p class="ml-3" id="suptypesEdit"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of the div when edit type is แก้ไขข้อมูล -->

                        <!-- when edit type is เพิ่มรายการวัสดุใหม่ -->
                        <div id="addCard">
                            <div class="col-md-12 ml-auto">
                                <div class="card ml-4 mb-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); width: 28rem;">
                                    <div class="card-body m-3">
                                        <div class="row">
                                            <p class="ml-5"><b>รหัสวัสดุ</b></p>
                                            <p class="ml-3" id="supserialAdd"></p>
                                        </div>
                                        <div class="row">
                                            <p class="ml-5"><b>รายการ</b></p>
                                            <p class="ml-3" id="supnameAdd"></p>
                                        </div>
                                        <div class="row">
                                            <p class="ml-5"><b>หมวดหมู่</b></p>
                                            <p class="ml-3" id="suptypesAdd"></p>
                                        </div>
                                        <div class="row">
                                            <p class="ml-5"><b>หน่วยนับ</b></p>
                                            <p class="ml-3" id="supunitAdd"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of the div when edit type is เพิ่มรายการวัสดุใหม่ -->

                    </div>
                    <!-- End of Editor Detail -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



</html>