<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>ระบบเบิกจ่ายวัสดุสำนักวิชาเทคโนโลยีสารสนเทศ</title>
    <link rel="icon" type="image/x-icon" href="/img/Logo_IT.png" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css"
    />

    <!--Sweet alert-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.6.1/sweetalert2.min.css"
    />

    <!--JQ + Bootstrap CDN-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <!--Chart CDN-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"
    />
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <!--Sweet alert CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.6.1/sweetalert2.min.js"></script>

    <!--Pagination CDN-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css"
      integrity="sha512-QmxybGIvkSI8+CGxkt5JAcGOKIzHDqBMs/hdemwisj4EeGLMXxCm9h8YgoCwIvndnuN1NdZxT4pdsesLXSaKaA=="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"
      integrity="sha512-1zzZ0ynR2KXnFskJ1C2s+7TIEewmkB2y+5o/+ahF7mwNj9n3PnzARpqalvtjSbUETwx6yuxP5AJXZCpnjEJkQw=="
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />

    <!-- Custom styles -->
    <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.3/css/sb-admin-2.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        //function set array of table
        let Setdatatable = [
          {
            id: "1",
            dates: "12/2/2021",
            time: "11:35:20",
            name: "ธีรวิศิฏฐ์ เลาหะเพ็ญแสง",
            email: "teeravisit.lao@mfu.ac.th",
            reqReason: "ต้องการนำไปใช้เตรียมเอกสารงานวิจัย",
            list: "",
          },
          {
            id: "2",
            dates: "13/2/2021",
            time: "12:21:20",
            name: "ศุภกานต์ จันทร์เสรีวิทยา",
            email: "suppakarn.cha@mfu.ac.th",
            reqReason: "ต้องการนำไปใช้เตรียมเอกสารงานวิจัย",
            list: "",
          },
          {
            id: "3",
            dates: "16/2/2021",
            time: "10:45:20",
            name: "วรศักดิ์ เรืองศิรรักษ์",
            email: "worasak.rue@mfu.ac.th",
            reqReason: "ต้องการนำไปใช้เตรียมเอกสารงานวิจัย",
            list: "",
          },
          {
            id: "4",
            dates: "21/2/2021",
            time: "07:05:20",
            name: "มาหะมะ เซะบากอ",
            email: "mahamah.seb@mfu.ac.th",
            reqReason: "ต้องการนำไปใช้เตรียมเอกสารงานวิจัย",
            list: "",
          },
          {
            id: "5",
            dates: "23/2/2021",
            time: "14:40:20",
            name: "ธงชัย อยู่ญาติวงศ์",
            email: "thongchai.mfu@gmail.com",
            reqReason: "ต้องการนำไปใช้เตรียมเอกสารงานวิจัย",
            list: "",
          },
          {
            id: "6",
            dates: "25/2/2021",
            time: "23:40:20",
            name: "ธงชัย อยู่ญาติวงศ์",
            email: "thongchai.mfu@gmail.com",
            reqReason: "ต้องการนำไปใช้เตรียมเอกสารงานวิจัย",
            list: "",
          },
          {
            id: "7",
            dates: "28/2/2021",
            time: "21:30:20",
            name: "สุรพงษ์ อุตมา",
            email: "surapong@mfu.ac.th",
            reqReason: "ต้องการนำไปใช้เตรียมเอกสารงานวิจัย",
            list: "",
          },
          {
            id: "8",
            dates: "1/3/2021",
            time: "17:15:20",
            name: "เตือนจิต สุทธหลวง",
            email: "ternchit@mfu.ac.th",
            reqReason: "ต้องการนำไปใช้เตรียมเอกสารงานวิจัย",
            list: "",
          },
          {
            id: "9",
            dates: "14/4/2021",
            time: "09:20:20",
            name: "ศิริกานต์ ชูเชิด",
            email: "sirikan@mfu.ac.th",
            reqReason: "ต้องการนำไปใช้เตรียมเอกสารงานวิจัย",
            list: "",
          },
          {
            id: "10",
            dates: "19/4/2021",
            time: "08:25:20",
            name: "พฤทธิ์ พุฒจร",
            email: "pruet@mfu.ac.th",
            reqReason: "ต้องการนำไปใช้เตรียมเอกสารงานวิจัย",
            list: "",
          },
          {
            id: "11",
            dates: "23/4/2021",
            time: "18:35:20",
            name: "ณัฐกานต์ เอี่ยมอ่อน",
            email: "natthakan@mfu.ac.th",
            reqReason: "ต้องการนำไปใช้เตรียมเอกสารงานวิจัย",
            list: "",
          },
        ];
        //  data set name of supplie
        var suppliesData = [
          {
            supID: "101000001",
            supName: "กรรไกรตัดกระดาษ 6",
            supAmount: "6",
            supUnit: "อัน",
            supCate: "วัสดุสำนักงาน",
            supLeft: "82",
          },
          {
            supID: "101000002",
            supName: "กรรไกรตัดกระดาษ 9",
            supAmount: "2",
            supUnit: "อัน",
            supCate: "วัสดุสำนักงาน",
            supLeft: "67",
          },
          {
            supID: "101000003",
            supName: "เครื่องคิดเลข 12 หลัก",
            supAmount: "15",
            supUnit: "เครื่อง",
            supCate: "วัสดุสำนักงาน",
            supLeft: "15",
          },
          {
            supID: "102000054",
            supName: "ตลับสายไฟคอมพิวเตอร์",
            supAmount: "3",
            supUnit: "อัน",
            supCate: "วัสดุไฟฟ้าวิทยุ",
            supLeft: "40",
          },
          {
            supID: "102000055",
            supName: "ถ่าน AA ธรรมดา",
            supAmount: "8",
            supUnit: "ก้อน",
            supCate: "วัสดุไฟฟ้าวิทยุ",
            supLeft: "70",
          },
          {
            supID: "102000056",
            supName: "ถ่านก้อนกลาง",
            supAmount: "5",
            supUnit: "ก้อน",
            supCate: "วัสดุไฟฟ้าวิทยุ",
            supLeft: "55",
          },
          {
            supID: "112000078",
            supName: "ผ้าหมึก Epson LQ 2070/2180i",
            supAmount: "50",
            supUnit: "กล่อง",
            supCate: "วัสดุคอมพิวเตอร์",
            supLeft: "67",
          },
          {
            supID: "112000085",
            supName: "หมึก HP laserjet P2015 (Q7553A)",
            supAmount: "20",
            supUnit: "กล่อง",
            supCate: "วัสดุคอมพิวเตอร์",
            supLeft: "45",
          },
          {
            supID: "112000455",
            supName: "หมึก SAMSUNG CYAN TONER CLP620ND,670ND",
            supAmount: "10",
            supUnit: "กล่อง",
            supCate: "วัสดุคอมพิวเตอร์",
            supLeft: "60",
          },
          {
            supID: "103000456",
            supName: "ถุงขยะสีดำขนาด 30*40",
            supAmount: "45",
            supUnit: "แพ็ก",
            supCate: "วัสดุงานบ้านงานครัว",
            supLeft: "34",
          },
          {
            supID: "110000001",
            supName: "กระดุมแขนเสื้อสูท (สีทอง)",
            supAmount: "20",
            supUnit: "เม็ด",
            supCate: "วัสดุเครื่องแต่งกาย",
            supLeft: "25",
          },
          {
            supID: "103000456",
            supName: "ถุงขยะสีดำขนาด 30*40",
            supAmount: "10",
            supUnit: "แพ็ก",
            supCate: "วัสดุของที่ระลึก",
            supLeft: "80",
          },
        ];

        //function Create Table
        var table = $("#data_table").DataTable({
          data: Setdatatable,
          columns: [
            { data: "id", title: "ลำดับ" },
            { data: "dates", title: "วันที่ขอเบิก" },
            { data: "time", title: "เวลาที่ขอเบิก" },
            { data: "name", title: "ผู้ขอเบิก" },
            {
              data: "list",
              title: "รายการขอเบิก",
              render: function (data, type, row, meta) {
                return `<a style='cursor: pointer;' onClick=OpenModal(${row.id})><u>ดูเพิ่มเติม</u></a>`;
              },
            },
            {
              defaultContent: `<button type="button" class="btn btn-success"  onclick="approve()">อนุมัติ</button> <button type="button" class="btn btn-danger" onclick="disapprove()">ไม่อนุมัติ</button>`,
            },
          ],
        });

        //Table in More Info Modal
        $("#supListTable").DataTable({
          data: suppliesData,
          columns: [
            {
              render: function (data, type, row, meta) {
                return meta.row + meta.settings._iDisplayStart + 1;
              },
              title: "ลำดับ",
            },
            { data: "supID", title: "รหัสวัสดุ" },
            { data: "supName", title: "รายการ" },
            { data: "supCate", title: "หมวดหมู่" },
            { data: "supAmount", title: "จำนวน" },
            { data: "supUnit", title: "หน่วยนับ" },
            { data: "supLeft", title: "ยอดคงเหลือในคลัง" },
          ],
          lengthMenu: [
            [5, 10, 15, -1],
            ["5", "10", "15", "Show all"],
          ],
        });
      });

      function OpenModal(id) {
        // alert(id)
        $("#moreInfoModal").modal("show");
        const currentRow = $(this).parents("tr");
        const data = table.row(currentRow).data();

        rowID = table.row(currentRow).index();
        $("#reqDate").html(reqData[rowID].dates);
        $("#reqTime").html(reqData[rowID].time);
        $("#requesterName").html(reqData[rowID].name);
        $("#requesterEmail").html(reqData[rowID].email);
        $("#reqReason").html(reqData[rowID].reqReason);
      }

      //function Approve
      function approve(id) {
        let table = document.querySelector('table');
        // Delete second row
        table.deleteRow(1);
        //alert("test");
        Swal.fire(
          "คุณดำเนินการเสร็จสิ้น",
          "อนุมัติรายการคำขอเบิกวัสดุแล้ว",
          "success"
        );
      }

      //function Disapprove
      function disapprove(id) {
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: "btn btn-primary",
            cancelButton: "btn btn-secondary",
          },
          buttonsStyling: false,
        });

        swalWithBootstrapButtons
          .fire({
            title: "ท่านไม่ต้องการอนุมัติคำขอนี้",
            text: "กรุณาระบุเหตุผลที่ไม่ต้องการอนุมัติ",
            input: "textarea",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "ยืนยัน",
            cancelButtonText: "ยกเลิก",
            reverseButtons: true,
          })
          .then((result) => {
            if (result.isConfirmed) {
              let table = document.querySelector('table');
              // delete second row
              table.deleteRow(1);
              swalWithBootstrapButtons.fire(
                "ดำเนินการไม่อนุมัติเสร็จสิ้น",
                "คุณได้ทำการไม่อนุมัติ",
                "success"
              );
            } else if (
              /* Read more about handling dismissals below */
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire(
                "Cancelled",
                "ยกเลิกการไม่อนุมัติ",
                "error"
              );
            }
          });
      }
    </script>
  </head>

  <body id="page-top">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav
          class="navbar navbar-expand navbar-light bg-white topbar static-top shadow"
        >
          <!-- Sidebar Toggle (Topbar) -->
          <button
            id="sidebarToggleTop"
            class="btn btn-link d-md-none rounded-circle mr-3"
          >
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Logo -->
          <div>
            <img
              class=""
              src="/img/Logo_IT.png"
              width="60"
              height="50"
              alt=""
            />
          </div>
          <div class="d-flex d-sm-inline-block mr-auto ml-md-3 mw-100">
            <!-- //ใส่โลโก่ -->
            <span
              ><strong
                >ระบบเบิกจ่ายวัสดุสำนักวิชาเทคโนโลยีสารสนเทศ</strong
              ></span
            >
            <br />
            <span><strong>มหาวิทยาลัยแม่ฟ้าหลวง</strong></span>
          </div>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="userDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                  >P'Nim</span
                >
                <img
                  class="img-profile rounded-circle"
                  src="/img/undraw_profile.svg"
                />
              </a>
              <!-- Dropdown - User Information -->
              <div
                class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown"
              >
                <a class="dropdown-item" href="/views/index.html">
                  <i
                    class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                  ></i>
                  ออกจากระบบ
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->
      </div>

      <!-- Page Wrapper -->
      <div id="wrapper">
        <!-- Sidebar -->
        <ul
          class="navbar-nav sidebar sidebar-dark accordion"
          id="accordionSidebar"
          style="background-color: #064767"
        >
          <!-- Divider -->
          <hr class="sidebar-divider my-0" />

          <!-- Nav Item - Dashboard -->

          <!-- Overview -->
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              data-toggle="collapse"
              data-target="#collapseOverview"
              aria-expanded="true"
              aria-controls="collapseOverview"
            >
              <i class="fas fa-fw fa-folder"></i>
              <span>ระบบวัสดุ</span>
            </a>
            <div
              id="collapseOverview"
              class="collapse"
              aria-labelledby="headingPages"
              data-parent="#accordionSidebar"
            >
              <div class="bg-white py-2 collapse-inner rounded">
                <a
                  class="collapse-item"
                  href="/views/admin/material_requests.html"
                  >รายการคำขอเบิกวัสดุ</a
                >
                <a
                  class="collapse-item"
                  href="/views/admin/admin_update_req.html"
                  >ดำเนินรายการคำขอเบิกวัสดุ</a
                >
                <a
                  class="collapse-item"
                  href="/views/admin/edit_info_history.html"
                  >ประวัติการอนุมัติคำขอ</a
                >
                <a class="collapse-item" href="/views/admin/all_supplies.html"
                  >ข้อมูลวัสดุทั้งหมด</a
                >
                <a
                  class="collapse-item"
                  href="/views/admin/edit_info_history.html"
                  >ประวัติการทำรายการ<br />ข้อมูลวัสดุ</a
                >
              </div>
            </div>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block" />

          <!-- Report -->
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              data-toggle="collapse"
              data-target="#collapseReport"
              aria-expanded="true"
              aria-controls="collapseReport"
            >
              <i class="fas fa-file-alt"></i>
              <span>รายการวัสดุ</span>
            </a>
            <div
              id="collapseReport"
              class="collapse"
              aria-labelledby="headingPages"
              data-parent="#accordionSidebar"
            >
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/views/admin/static.html"
                  >รายงานสถิติการเบิก</a
                >
              </div>
            </div>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block" />
        </ul>
        <!-- End of Sidebar -->

        <!-- Topic -->
        <div class="container-fluid">
          <h2 class="mt-3">รายการคำขอเบิกวัสดุ</h2>

          <p id="demo">จำนวน 11 รายการ</p>
          <!-- End Topic -->

          <!-- More Info Modal -->
          <div
            class="modal fade"
            style="width: 100%"
            id="moreInfoModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modelTitleId"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">รายการคำขอเบิกวัสดุ</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <!-- Request Detail Begin-->
                  <div class="row">
                    <div class="col-md-6 ml-auto">
                      <div class="row">
                        <p class="ml-5"><b>วันที่ขอเบิก</b></p>
                        <p class="ml-2" id="reqDate"></p>
                      </div>
                      <div class="row">
                        <p class="ml-5"><b>เวลา</b></p>
                        <p class="ml-2" id="reqTime"></p>
                      </div>
                      <div class="row">
                        <p class="ml-5"><b>ผู้ขอเบิก</b></p>
                        <p class="ml-3" id="requesterName"></p>
                      </div>
                      <div class="row">
                        <p class="ml-5"><b>อีเมล</b></p>
                        <p class="ml-3" id="requesterEmail"></p>
                      </div>
                      <div class="row">
                        <p class="ml-5"><b>วัตถุประสงค์</b></p>
                        <p class="ml-3" id="reqReason"></p>
                      </div>
                    </div>
                    <div class="col-md-6"></div>
                  </div>
                  <!-- End of Request Detail -->

                  <hr class="sidebar-divider my-0 mb-4 mt-4" />

                  <table
                    class="table table-bordered text-center"
                    id="supListTable"
                    width="100%"
                    cellspacing="0"
                  ></table>
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- End the More Info Modal -->

          <!-- table -->
          <div class="card">
            <div
              class="card-body"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)"
            >
              <table
                class="table text-center"
                id="data_table"
                width="100%"
                cellspacing="0"
              ></table>
            </div>
          </div>
          <!-- end table -->
        </div>
      </div>

      <div
        id="GSCCModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      ></div>

      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="js/sb-admin-2.min.js"></script>
    </div>
  </body>
</html>
